<div id="carousel">
  <app-slider-list></app-slider-list>
</div>
<!--
	<div class="col-md-12">
		<form class="form-inline footer-details sliderdetails">
		  <input name="id" type="hidden">
		  <div class="form-group float-right">
			<button type="button" class="btn btn-close"><span class="glyphicon glyphicon-remove"></span></button>
		  </div>
		  <div class="form-group">
			<label for="nom">Nom</label>
			<input size="50" id="nom" name="name" type="text" placeholder="Titre">
		  </div>
		  <div class="form-group">
			<label for="description">Description</label>
			<input size="50" id="description" name="description" type="text" placeholder="Sous-titres">
		  </div>
		  <button type="button" class="btn btn-success btn-xs">ENVOYER <span class="glyphicon glyphicon-plus"></span></button>
		</form>
	</div>
-->