<div id="carousel">


<div class="css-slider-wrapper">

  <input type="radio" name="slider" class="slide-radio1" checked id="slider_1">
  <input type="radio" name="slider" class="slide-radio2" id="slider_2">
  <input type="radio" name="slider" class="slide-radio3" id="slider_3">
  <input type="radio" name="slider" class="slide-radio4" id="slider_4">

  <div class="slider-pagination">
    <label for="slider_1" class="page1"></label>
    <label for="slider_2" class="page2"></label>
    <label for="slider_3" class="page3"></label>
    <label for="slider_4" class="page4"></label>
  </div>
  <div class="next control">
    <label for="slider_1" class="numb1"><i class="fa fa-arrow-circle-right"></i></label>
    <label for="slider_2" class="numb2"><i class="fa fa-arrow-circle-right"></i></label>
    <label for="slider_3" class="numb3"><i class="fa fa-arrow-circle-right"></i></label>
    <label for="slider_4" class="numb4"><i class="fa fa-arrow-circle-right"></i></label>
  </div>
  <div class="previous control">
    <label for="slider_1" class="numb1"><i class="fa fa-arrow-circle-left"></i></label>
    <label for="slider_2" class="numb2"><i class="fa fa-arrow-circle-left"></i></label>
    <label for="slider_3" class="numb3"><i class="fa fa-arrow-circle-left"></i></label>
    <label for="slider_4" class="numb4"><i class="fa fa-arrow-circle-left"></i></label>
  </div>
  <div class="slider slide1">
    <div>
      <h2>test slider full css 1</h2>
	  <p>test slider full css 1</p>
	  <button type="button" class="btn btn-success btn-lg btn-edit"><span class="glyphicon glyphicon-plus"></span></button>
	  <button type="button" class="btn btn-info btn-lg btn-edit"><span class="glyphicon glyphicon-edit"></span></button>		
	  <button type="button" class="btn btn-danger btn-lg btn-edit"><span class="glyphicon glyphicon-remove"></span></button>
      <!--a href="" class="button">test button</a>  <a href="#" class="button">test button</a--> 
	</div>
  </div>
  <div class="slider slide2">
    <div>
      <h2>test slider full css 2</h2>
	  <p>test slider full css 2</p>
	  <button type="button" class="btn btn-success btn-lg btn-edit"><span class="glyphicon glyphicon-plus"></span></button>
	  <button type="button" class="btn btn-info btn-lg btn-edit"><span class="glyphicon glyphicon-edit"></span></button>		
	  <button type="button" class="btn btn-danger btn-lg btn-edit"><span class="glyphicon glyphicon-remove"></span></button>
      <!--a href="" class="button">test button</a>  <a href="#" class="button">test button</a--> 
	</div>
  </div>
  <div class="slider slide3">
    <div>
      <h2>test slider full css 3</h2>
	  <p>test slider full css 3</p>
	  <button type="button" class="btn btn-success btn-lg btn-edit"><span class="glyphicon glyphicon-plus"></span></button>
	  <button type="button" class="btn btn-info btn-lg btn-edit"><span class="glyphicon glyphicon-edit"></span></button>		
	  <button type="button" class="btn btn-danger btn-lg btn-edit"><span class="glyphicon glyphicon-remove"></span></button>
      <!--a href="" class="button">test button</a>  <a href="#" class="button">test button</a--> 
	</div>
  </div>
  <div class="slider slide4">
    <div>
      <h2>test slider full css 4</h2>
	  <p>test slider full css 4</p>
	  <button type="button" class="btn btn-success btn-lg btn-edit"><span class="glyphicon glyphicon-plus"></span></button>
	  <button type="button" class="btn btn-info btn-lg btn-edit"><span class="glyphicon glyphicon-edit"></span></button>		
	  <button type="button" class="btn btn-danger btn-lg btn-edit"><span class="glyphicon glyphicon-remove"></span></button>
      <!--a href="" class="button">test button</a>  <a href="#" class="button">test button</a--> 
	</div>
  </div>
</div>
</div>
<!--
	<div class="col-md-12">
		<form class="form-inline footer-details sliderdetails">
		  <input name="id" type="hidden">
		  <div class="form-group float-right">
			<button type="button" class="btn btn-close"><span class="glyphicon glyphicon-remove"></span></button>
		  </div>
		  <div class="form-group">
			<label for="nom">Nom</label>
			<input size="50" id="nom" name="name" type="text" placeholder="Titre">
		  </div>
		  <div class="form-group">
			<label for="description">Description</label>
			<input size="50" id="description" name="description" type="text" placeholder="Sous-titres">
		  </div>
		  <button type="button" class="btn btn-success btn-xs">ENVOYER <span class="glyphicon glyphicon-plus"></span></button>
		</form>
	</div>
-->