.carousel-indicators {
    top: 20px;
    bottom:auto;
}
#myCarousel{

    height:400px;
    max-height:400px;
    overflow:hidden;
}
.item{
    position:absolute;
    width:100%;
    display:block;
    text-align:left;
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
    height:400px;
    max-height:400px;
    overflow:hidden;
    z-index: -1;
}
.item.active{
    opacity: 1;
    z-index: 0;
}
.item > img{
    width:100%;
}
.carousel-text {
    height:0;
    max-height:0;
    position: absolute;
    top: 30%;
    left: 20%;
    color:#FFF;
}
.carousel-text > p{
    font-size: 25px;
}
.carousel-text > h1{
    font-size: 50px;
}
.carousel-inner{
    overflow: visible !important;

}