<div class="container">
  <form class="form-inline footer-details catdetails">
    <input name="id" type="hidden">
    <div class="form-group float-right">
      <button type="button" class="btn btn-close"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="form-group">
      <!--label for="nom">Nom</label-->
      <input size="50" id="nom" name="name" type="text" placeholder="Titre" >
    </div><br />
    <div class="form-group">
      <textarea rows="4" cols="50"  placeholder="texte"></textarea>
      <!--label for="description">Description</label-->
      <input size="50" id="description" name="description" type="text" placeholder="text 2 ?" >
    </div><br />
    <div class="form-group">
      <!--label for="image">Image</label-->
      <input id="image" name="image" type="text" placeholder="Image">
    </div>
    <div class="form-group">
      <!--label for="image">Image</label-->
      <input id="image" name="image" type="text" placeholder="Site">
    </div><br />
    <div class="form-group">
      <!--label for="image">Image</label-->
      <input id="image" name="image" type="text" placeholder="Fichier">
    </div>
    <div class="form-group">
      <!--label for="image">Image</label-->
      <input id="image" name="image" type="text" placeholder="Code Qr">
    </div><br />
    <button type="button" class="btn btn-success btn-xs">ENVOYER <span class="glyphicon glyphicon-plus"></span></button>
  </form>
</div>