.image-container{
    overflow:hidden;
    height:450px;
    text-align: center;
    padding: 0px;
    background-color: #FFFFFF;
}
.image-container img{
    width:100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    max-width: 100%;
}
.text{
    padding: 20px 0px;
    text-align:center;
    background-color:lightgray;
    width:100%;
    position:relative;
    top:-125px;
    height:125px;
    opacity:0.80;
}

.cat-container{
    height:600px;
}