.displayForm{
    border-top:1px solid grey;
    width:100%;
    cursor: pointer;
    position:fixed;
    bottom:0;
    left:0;
    background-color:white;
    height:0px;
}
.visible{
    padding:20px;
    height:inherit;
}