<div class="container" [ngClass]="{'selected': activity==selectedActivity}" *ngFor="let activity of activities">
  <p class="col-sm-4 no-padding">
    <img class="featurette-image img-responsive center-block float-left" src="{{activity.image}}">
  </p>
  <h1>
    <span *ngIf="admin()">
      <button (click)="selectActivity(activity)" type="button" class="btn btn-info btn-sm btn-edit"><span class="glyphicon glyphicon-edit"></span></button>
      <button (click)="deleteActivity(activity)" type="button" class="btn btn-danger btn-sm btn-edit"><span class="glyphicon glyphicon-remove"></span></button>
    </span>
    {{activity.title}}
  </h1>
  <p *ngIf="activity.subtitle">
    <span class="text-muted">{{activity.subtitle}}</span>
  </p>
  <p>
    {{activity.description}}
  </p>

  <div class="button-modal">
    <!-- Button HTML (to Trigger Modal) -->
    <a href="#myModal{{activity.id}}" role="button" class="btn btn-primary btn-xs" data-toggle="modal">Infos supplémentaires</a>
    <!-- Modal HTML -->
    <div id="myModal{{activity.id}}" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{activity.link}}</h4>
          </div>
          <div class="modal-body">
            <p>
             <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{activity.link}}">
            </p>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="admin()" class="outer-new">
  <button (click)="new()" class="btn btn-success btn-lg btn-new">NOUVEAU
    <span class="glyphicon glyphicon-plus"></span>
  </button>
</div>


<div class="displayForm" [ngClass]="{'visible' : selectedActivity}">
  <app-activity-form *ngIf="admin() && selectedActivity" (submitAct)="submitForm($event)" (close)="selectActivity(selectedActivity)" [values]="selectedActivity"></app-activity-form>
</div>